// colors

$color-black: #000000;
$color-white: #ffffff;
$color-brown-20: #e5ddd5;
$color-brown-50: #826550;
$darkgrey: #292929;
$lightgrey: #f8f5f2;

// Viewports

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
